In [2]:
population_2020={
    'Tokyo':37339804,
    'Delhi':31181376,
    'Shanghai':27795702
}

In [ ]:
population_2021={
    'Tokyo':37393128,
    'Delhi':30290936,
    'Shanghai':27058480
}

In [3]:
import pandas as pd
s=pd.Series([1,2,3,4,5])
print(s)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [5]:
s=pd.Series([1,2,3,4,5],index=['q',1,'cat','d','dog'])
print(s)

q      1
1      2
cat    3
d      4
dog    5
dtype: int64

In [7]:
marvel=['Iron man','captain america','winter soldier','thor','ultron','ant man','spider man']
s=pd.Series(marvel)
print(s)

0           Iron man
1    captain america
2     winter soldier
3               thor
4             ultron
5            ant man
6         spider man
dtype: object

In [8]:
marvel_year={'Iron man':2010,'captain america':2011,'winter soldier':2014,'thor':2013,'ultron':2015}
s=pd.Series(marvel_year)
print(s)
s.index

Iron man           2010
captain america    2011
winter soldier     2014
thor               2013
ultron             2015
dtype: int64

Index(['Iron man', 'captain america', 'winter soldier', 'thor', 'ultron'], dtype='object')

In [9]:
#create series by using array data made with numpy
import pandas as pd
import numpy as np

n=np.arange(10,16)

s=pd.Series(n)

print(s)

0    10
1    11
2    12
3    13
4    14
5    15
dtype: int32

In [10]:
np.random.seed(0)
r=np.random.random(size=6)
s=pd.Series(r)
print(s)

0    0.548814
1    0.715189
2    0.602763
3    0.544883
4    0.423655
5    0.645894
dtype: float64

In [16]:
s=pd.Series(4)
print(s)

0    4
dtype: int64

In [17]:
s*2

0    8
dtype: int64

In [13]:
arr=np.arange(0,5)
ss=pd.Series(arr)
print(ss)

0    0
1    1
2    2
3    3
4    4
dtype: int32

In [15]:
s * ss

0    0.0
1    NaN
2    NaN
3    NaN
4    NaN
dtype: float64

In [19]:
marvel=['Iron man','captain america','thor','winter soldier','ultron','ant man','spider man']
s=pd.Series(marvel)
print(s)

0           Iron man
1    captain america
2               thor
3     winter soldier
4             ultron
5            ant man
6         spider man
dtype: object

In [20]:
dates=pd.date_range('2021-01-01','2021-01-07')

print(dates)

DatetimeIndex(['2021-01-01', '2021-01-02', '2021-01-03', '2021-01-04',
               '2021-01-05', '2021-01-06', '2021-01-07'],
              dtype='datetime64[ns]', freq='D')

In [21]:
new_s=pd.Series(marvel,index=dates)
print(new_s)

2021-01-01           Iron man
2021-01-02    captain america
2021-01-03               thor
2021-01-04     winter soldier
2021-01-05             ultron
2021-01-06            ant man
2021-01-07         spider man
Freq: D, dtype: object

In [22]:
s.index

RangeIndex(start=0, stop=7, step=1)

In [23]:
s.values

array(['Iron man', 'captain america', 'thor', 'winter soldier', 'ultron',
       'ant man', 'spider man'], dtype=object)

In [26]:
s=['element1','element2','element3','element4','element5','element6','element7','element8']
sr=pd.Series(s)
sr[2]

'element3'

In [27]:
s=[10,20,30,40,50]
sr=pd.Series(s)
print(sr)
print(sr ** 2)

0    10
1    20
2    30
3    40
4    50
dtype: int64
0     100
1     400
2     900
3    1600
4    2500
dtype: int64

In [28]:
t=[23,345,123]
sr1=pd.Series(s)
sr2=pd.Series(t)
sr3=sr1+sr2
print(sr3)

0     33.0
1    365.0
2    153.0
3      NaN
4      NaN
dtype: float64

In [29]:
print(sr3)
print(sr3.count())
print(sr3.sum())

0     33.0
1    365.0
2    153.0
3      NaN
4      NaN
dtype: float64
3
551.0