In [1]:
population_a = (100,150,230,120,180,100,140,95,81,21,4)
population_b = (300,420,530,420,400,300,40,5,1,1,1)
oldA=sum(population_a[7:])
oldB=sum(population_b[7:])
sumA,sumB=sum(population_a),sum(population_b)

oldRateA,oldRateB=oldA/sumA,oldB/sumB
print('The degrees of aging in town A and B are {:5.3f} and {:5.3f} respectively.'.format(oldRateA,oldRateB))

The degrees of aging in town A and B are 0.165 and 0.003 respectively.

In [2]:
#use tup
tup=(1,2,3,4)
3 in tup

True

In [3]:
'a' in 'abcd'

True

In [4]:
#combine sequence list
list1=[11,22,33,44]
list2=[55,66]
print(list1)
print(list1+list2)

[11, 22, 33, 44]
[11, 22, 33, 44, 55, 66]

In [5]:
#combine sequence tuple
tup1=(1,2,3)
tup2=(4,5,6)
print(tup1+tup2)

(1, 2, 3, 4, 5, 6)

In [6]:
#combine range, before combine range must change range to list or tuple
list(range(10))+list(range(10,20))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [7]:
tuple(range(10))+tuple(range(10,20))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19)

In [8]:
#repeat write of sequence object
#list
list1=[11,22,33,44]*2
print(list1)

[11, 22, 33, 44, 11, 22, 33, 44]

In [9]:
#tuple
tup1=(1,2,3)
print(tup1*2)

(1, 2, 3, 1, 2, 3)

In [10]:
#string
str2='hello'
print(str2*2)

hellohello

In [12]:
#range can't repeat by *
#must change to list or tuple
ran=list(range(5))*3
print(ran)

[0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4]

In [13]:
tup1=tuple(range(5))*3
print(tup1)

(0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4)

In [15]:
#count method
list1=[11,11,1,12,22,33]
print(list1.count(11))

2

In [16]:
tup1=[11,11,1,12,22,33]
print(tup1.count(11))

2

In [22]:
#count in range
ran=range(0,5,1)
for i in ran:
    print(i)
print('total value',len(ran))
print('element of 2 is',ran.count(2))

0
1
2
3
4
total value 5
element of 2 is 1

In [26]:
#display positive index
list1=[11,12,13,22,33,44]
list1[0]

11

In [28]:
str1='hello world'
str1[2]

'l'

In [29]:
tup1=(1,2,3,4,5,6,7)
tup1[3]

4

In [30]:
ran = range(0,5,1)
ran[4]

4

In [31]:
#disply negative index
str1='abcdef'
print(str1[-1])

e

In [34]:
print(str1[-5])

a

In [35]:
tup1=(11,22,33,44,55,66,77)
print(tup1[-1])

77

In [36]:
print(tup1[-6])

22

In [37]:
ran=range(1,7)
print(ran[-6])

1

In [38]:
print(ran[-1])

6