In [1]:
#use len
n_list=[200,700,500,300,400]
len(n_list)

5

In [2]:
#use max to find maximum in array
max(n_list)

700

In [3]:
#use min to find minimum in array
min(n_list)

200

In [4]:
#use sum to sumary all value in array
sum(n_list)

2100

In [6]:
#use any
a_list=[0,]
any(n_list)

True

In [7]:
any(a_list)

False

In [8]:
#use insert
slist=['David',178.9,'John',173.5,'Jane',176.1]
print(slist)
slist.insert(4,'Peter')
slist.insert(5,168.1)
print(slist)

['David', 178.9, 'John', 173.5, 'Jane', 176.1]
['David', 178.9, 'John', 173.5, 'Peter', 168.1, 'Jane', 176.1]