In [3]:
person1=['David Doe',20,1,180.0,100.0]
person2=["John Smith",25,1,170.0,70.0]
person3=['Jane carter',22,0,169.0,60.0]
person4=['Peter Kelly',40,1,150.0,50.0]
person_list=person1+person2+person3+person4

n_persons=int(len(person_list)/5)
age_sum=0.0
for age in person_list[1::5]:
    age_sum+=age
average_age=float(age_sum)/n_persons
print('the average age is '+str(average_age))

the average age is 26.75

In [4]:
n_list=[11,22,33,44,55,66]
print(n_list)
print(len(n_list))

[11, 22, 33, 44, 55, 66]
6

In [5]:
person_list=person1+person2
print(person_list)

['David Doe', 20, 1, 180.0, 100.0, 'John Smith', 25, 1, 170.0, 70.0]

In [6]:
#use append
a_list=['a','b','c','d']
a_list.append('f')
a_list

['a', 'b', 'c', 'd', 'f']

In [8]:
#use extend
list1=['a','b','c']
list2=[1,2,3]
list1.extend(list2)
list1

['a', 'b', 'c', 1, 2, 3]

In [12]:
#use append like extend
list1=[11,22,33,44]
list1.append([55,66])
list1

[11, 22, 33, 44, [55, 66]]

In [11]:
#use del for delete value at index in array
n_list=[11,22,33,44,55,66]
print(n_list)
del n_list[3]
print(n_list)

[11, 22, 33, 44, 55, 66]
[11, 22, 33, 55, 66]

In [13]:
#use pop
n_list=[10,20,30]
print(n_list)

n=n_list.pop()
print('n=',n)
print('n_list=',n_list)

[10, 20, 30]
n= 30
n_list= [10, 20]

In [14]:
#use remove to delete value in array
n_list=[11,22,33,44,55,66]
print(n_list)
n_list.remove(44)
print(n_list)

[11, 22, 33, 44, 55, 66]
[11, 22, 33, 55, 66]

In [16]:
#cut in list
a_list=[10,20,30,40,50,60,70,80]
a_list[1:5]

[20, 30, 40, 50]

In [17]:
a_list[0:5]

[10, 20, 30, 40, 50]

In [18]:
a_list[1:]

[20, 30, 40, 50, 60, 70, 80]

In [19]:
a_list[:5]

[10, 20, 30, 40, 50]

In [20]:
a_list[:]

[10, 20, 30, 40, 50, 60, 70, 80]

In [21]:
#negative 10= -8; 20= -7....80= -1
a_list[-7:-2]#a_list -7 to alist -2-1

[20, 30, 40, 50, 60]

In [22]:
#use in
n_list=[11,22,33,44,55,66]
10 in n_list

False

In [23]:
22 in n_list

True

In [24]:
33 not in n_list

False

In [25]:
50 not in n_list

True

In [26]:
if(55 in n_list):
    n_list.remove(55)
print(n_list)

[11, 22, 33, 44, 66]