In [1]:
import pandas as pd
data={'col_1':[3,2,1,0],'col_2':['a','b','c','d']}
pd.DataFrame(data)

   col_1 col_2
0      3     a
1      2     b
2      1     c
3      0     d

In [2]:
import pandas as pd
s=pd.Series([1.0,2.0,3.0],index=["a","b","c"])
s2=pd.Series([1.0,2.0,3.0,4.0],index=["a","b","c","d"])
data={"one":s,"two":s2}
pd.DataFrame(data)

   one  two
a  1.0  1.0
b  2.0  2.0
c  3.0  3.0
d  NaN  4.0

In [3]:
import pandas as pd
d={'col_1':[1,2],'col_2':[3,4]}
df=pd.DataFrame(data=d)
print(df)
df.index=["new index0","new index1"]
print(df)
df.columns=["new_col1","new_col2"]
print(df)

   col_1  col_2
0      1      3
1      2      4
            col_1  col_2
new index0      1      3
new index1      2      4
            new_col1  new_col2
new index0         1         3
new index1         2         4

In [4]:
d={'col_1':[1,2],'col_2':[3,4]}
df=pd.DataFrame(data=d)
print(df)
df.rename(index={0:"new index0"})

   col_1  col_2
0      1      3
1      2      4

            col_1  col_2
new index0      1      3
1               2      4

In [5]:
df.rename(columns={"col_2":"new col2"})

   col_1  new col2
0      1         3
1      2         4

In [6]:
d={'col_1':[1,2],'col_2':[3,4]}
df=pd.DataFrame(data=d)
df.rename(index={0:"new index0"},inplace=True)
df.rename(columns={"col_2":"new col2"})

            col_1  new col2
new index0      1         3
1               2         4

In [7]:
s=pd.Series([1.0,2.0,3.0],index=["a","b","c"])
s2=pd.Series([1.0,2.0,3.0,4.0],index=["a","b","c","d"])
dic_data={"one":s,"two":s2}
type(dic_data)
pd.DataFrame(dic_data)
pd.DataFrame.from_dict(dic_data,orient='columns')

   one  two
a  1.0  1.0
b  2.0  2.0
c  3.0  3.0
d  NaN  4.0

In [8]:
pd.DataFrame.from_dict(dic_data,orient='index')

       a    b    c    d
one  1.0  2.0  3.0  NaN
two  1.0  2.0  3.0  4.0

In [13]:
import pandas as pd
data={'row1':[3,2,1,0],'row2':['a','b','c','d']}
pd.DataFrame.from_dict(data,orient='index',columns=['A','B','C','D'])

      A  B  C  D
row1  3  2  1  0
row2  a  b  c  d