In [1]:
#create set from list
set([1,2,3,1,2])#set can't be the same number

{1, 2, 3}

In [2]:
#set string
set("abcdefa")

{'a', 'b', 'c', 'd', 'e', 'f'}

In [3]:
#emty set
numbers=set()
numbers

set()

In [4]:
#calculate set
s1={1,2,3,4,5,6}
s2={4,5,6,7,8,9}

In [5]:
s1|s2#find union

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [6]:
s1&s2#find intersection

{4, 5, 6}

In [7]:
s1-s2#find difference of set

{1, 2, 3}

In [8]:
s1^s2#find symmetic difference of set

{1, 2, 3, 7, 8, 9}

In [9]:
#fuction set
s1.union(s2)#find union

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [10]:
s1.intersection(s2)#find intersection

{4, 5, 6}

In [11]:
s1.difference(s2)#find difference of set

{1, 2, 3}

In [12]:
s1.symmetric_difference(s2)#find symmetic difference of set

{1, 2, 3, 7, 8, 9}

In [13]:
s1={1,2,3,4,5,6}
s2={4,5,6,7,8,9}
s3={5,6,9,10,11}

In [14]:
#find union of s1 s2 s3
s1&s2&s3

{5, 6}

In [15]:
#subtract element of s2 and s3 from s1
s1-s2-s3

{1, 2, 3}