In [2]:
import pandas as pd
wti=pd.read_csv("C:/Users/Windows 10/Downloads/DCOILWTICO (1).csv")
wti.head()

         DATE DCOILWTICO
0  2019-10-28       55.6
1  2019-10-29      55.34
2  2019-10-30      54.85
3  2019-10-31      54.02
4  2019-11-01      56.04

In [3]:
wti.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1306 entries, 0 to 1305
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   DATE        1306 non-null   object
 1   DCOILWTICO  1306 non-null   object
dtypes: object(2)
memory usage: 20.5+ KB

In [4]:
wti['N_DATE']=pd.to_datetime(wti['DATE'])
wti['N_DATE']

0      2019-10-28
1      2019-10-29
2      2019-10-30
3      2019-10-31
4      2019-11-01
          ...
1301   2024-10-22
1302   2024-10-23
1303   2024-10-24
1304   2024-10-25
1305   2024-10-28
Name: N_DATE, Length: 1306, dtype: datetime64[ns]

In [5]:
wti.head()

         DATE DCOILWTICO     N_DATE
0  2019-10-28       55.6 2019-10-28
1  2019-10-29      55.34 2019-10-29
2  2019-10-30      54.85 2019-10-30
3  2019-10-31      54.02 2019-10-31
4  2019-11-01      56.04 2019-11-01

In [6]:
df=wti.drop(['DATE'],axis=1)
df.head()

  DCOILWTICO     N_DATE
0       55.6 2019-10-28
1      55.34 2019-10-29
2      54.85 2019-10-30
3      54.02 2019-10-31
4      56.04 2019-11-01

In [7]:
df.set_index('N_DATE',inplace=True)
df.head()

           DCOILWTICO
N_DATE
2019-10-28       55.6
2019-10-29      55.34
2019-10-30      54.85
2019-10-31      54.02
2019-11-01      56.04

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1306 entries, 2019-10-28 to 2024-10-28
Data columns (total 1 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   DCOILWTICO  1306 non-null   object
dtypes: object(1)
memory usage: 20.4+ KB

In [9]:
df['2019-11-02':'2019-11-15']

           DCOILWTICO
N_DATE
2019-11-04      56.33
2019-11-05      57.04
2019-11-06      56.15
2019-11-07      56.91
2019-11-08      57.02
2019-11-11          .
2019-11-12      56.67
2019-11-13      56.88
2019-11-14      56.57
2019-11-15      57.54