In [1]:
import pandas as pd
import seaborn as sns

df=sns.load_dataset('titanic',cache=True)

df['age'].head(10)

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
5     NaN
6    54.0
7     2.0
8    27.0
9    14.0
Name: age, dtype: float64

In [2]:
avg_age=df['age'].mean(axis=0)
avg_age

29.69911764705882

In [3]:
median_age=df['age'].median(axis=0)
median_age

28.0

In [4]:
df.isnull().sum()

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [5]:
df=sns.load_dataset('titanic',cache=True)

In [6]:
town_count=df['embark_town'].value_counts(dropna=True)
town_count

embark_town
Southampton    644
Cherbourg      168
Queenstown      77
Name: count, dtype: int64

In [7]:
most=town_count.idxmax()
most

'Southampton'

In [8]:
df['embark_town'].fillna(most,inplace=True)
df.isnull().sum()

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      0
alive            0
alone            0
dtype: int64