In [1]:
#Iterator and iter,next function
iter_a=iter([10,20,30])
next(iter_a)

10

In [2]:
next(iter_a)

20

In [6]:
#next off by iterator object
lst=[10,20,30]
l_iter=iter(lst)
type(l_iter)

list_iterator

In [7]:
next(l_iter)

10

In [8]:
next(l_iter)

20

In [9]:
next(l_iter)

30

In [10]:
#use special next
lst=[10,20,30]
l_iter=iter(lst)
l_iter.__next__()

10

In [11]:
l_iter.__next__()

20

In [12]:
l_iter.__next__()

30

In [13]:
#check is object can use again
try:
    l=[10,20,30]
    iterator=iter(l)
except TypeError:
    print('List is not an iterable object')
else:
    print('list is an iterable object')

list is an iterable object

In [15]:
try:
    t=('hong',20,30.66)
    iterator=iter(t)
except TypeError:
    print('tup is not an iterable object')
else:
    print('tup is an iterable object')

tup is an iterable object

In [16]:
try:
    n=100
    iterator=iter(n)
except TypeError:
    print('n is not an iterable object')
else:
    print('n is an iterable object')

n is not an iterable object

In [17]:
#range iterator
type(range(3))

range

In [19]:
r_iter=iter(range(3))
type(r_iter)

range_iterator

In [20]:
next(r_iter)

0

In [21]:
next(r_iter)

1

In [22]:
next(r_iter)

2

In [24]:
#all if is no 0 print true
l1=[1,2,3,4]
l2=[0,2,4,8]
l3=[0,0,0,0]
all(l1)

True

In [25]:
all(l2)

False

In [26]:
all(l3)

False

In [27]:
#any if is has some iterable atlest one print true
l1=[1,2,3,4]
l2=[0,2,4,8]
l3=[0,0,0,0]
any(l1)

True

In [28]:
any(l2)

True

In [29]:
any(l3)

False