In [3]:
menu={'americano':3000,'ice americano':3500,'cappuccino':4000,'latte':4500,'espesso':3600}
for key in menu:
    print("{:16s}price:{:,} KRW".format(key,menu[key]))

americano       price:3,000 KRW
ice americano   price:3,500 KRW
cappuccino      price:4,000 KRW
latte           price:4,500 KRW
espesso         price:3,600 KRW

In [2]:
person={'Name':'David','Age':26,'Weight':82}
person

{'Name': 'David', 'Age': 26, 'Weight': 82}

In [4]:
person['Job']='Data Scientist' #add new key
person

{'Name': 'David', 'Age': 26, 'Weight': 82, 'Job': 'Data Scientist'}

In [5]:
person['Age']=27 #update key
person

{'Name': 'David', 'Age': 27, 'Weight': 82, 'Job': 'Data Scientist'}

In [6]:
del person['Age']#delete key
person

{'Name': 'David', 'Weight': 82, 'Job': 'Data Scientist'}

In [7]:
len(person) #data in ditionnary person

3

In [8]:
#function and operator 
d1={'Name': 'David', 'Age': 26}
d2={'Age': 26,'Name': 'David' }
d1==d2

True

In [9]:
d1!=d2
#can't use >,>=,<,<=

False